version: '3.8' # Specifies the docker-compose file version

services: # The main container for all your services

  envoy:
    build: ./envoy
    container_name: envoy
    ports:
      - "8080:8080"  # This is the main traffic port
      - "9901:9901"  # This is for Envoy's admin dashboard
    depends_on:
      - service-a
      - service-b
      
  service-a:
    build: ./service-a  # Tells Docker to build an image from the Dockerfile in the './service-a' folder
    container_name: service-a
    ports:
      - "3001:3000" # Maps your computer's port 3001 to the container's port 3000

  service-b:
    build: ./service-b  # Tells Docker to build an image from the Dockerfile in the './service-b' folder
    container_name: service-b
    ports:
      - "3002:3000" # Maps your computer's port 3002 to the container's port 3000